<%- include("header") -%> <%- include("appHeader") -%>

<div id="main-lists-page">
  <section id="all-lists-section">
    <div class="listsMenuBar">
      <% userLists.forEach(list => { %>

      <a href="<%= '/lists/' + list.name %>" role="button">
        <%= list.name %>
      </a>
      <% }) %>
    </div>

    <form action="/lists" method="POST" id="newListForm">
      <input placeholder="Make a new list" name="newListName" />
      <button type="submit">+</button>
    </form>
  </section>

  <section id="open-list-section">
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box" id="display-list-items">
      <% listItems.forEach((item) => { %>
      <form action="/delete" method="POST">
        <div class="item">
          <input
            type="checkbox"
            name="checkbox"
            value="<%= item._id %>"
            onchange="this.form.submit()"
          />
          <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listName %>" />
      </form>
      <% }) %>
    </div>

    <form action="/lists/today" method="POST" class="item">
      <input
        name="newItem"
        type="text"
        placeholder="New Item"
        autocomplete="off"
        id="addNewItem"
      />
      <button
        class="addNewItem"
        type="submit"
        name="list"
        value="<%= listName %>"
      >
        +
      </button>
    </form>
  </section>
</div>
<%- include("footer") -%>
